nav {
  text-align: center;
  font-size: 25px;
  font-family: "Arial Narrow";

  ul {
    list-style-type: none;
    padding-right: 100px;
    margin: 30px;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        color: #593131;
        text-decoration: none;

        &:hover {
          color: #d3800e;
        }
      }

      &.active a {
        color: #d3800e;
      }
    }
  }
}
